<!DOCTYPE html>
<html>
<% include ../partials/head %>
<body>
<% include ../partials/header %>
 <div class="form-container">
 <!-- first profile -->
 <!-- add pictures -->
    <div class="profile">
    <h4 class="profile-heading heading"> These types of photos are guaranteed to get you more right swipes</h4>

    <div class="photoshopped-photos">
    <img class="photoshopped" src="/assets/photos/gym.png">
    <img class="photoshopped" src="/assets/photos/machu.png">
    <img class="photoshopped" src="/assets/photos/paddleboard.png">
    <img class="photoshopped" src="/assets/photos/tiger.png">
    </div>
</p>

<h4 class="profile-heading heading"> Here is the profile we've crafted together for you </h4>
<div class="content" id="content1"> 
<p>I’m a (25 to 29)-year-old (woman) looking for a (man) who will be my (best friend) and (partner in crime). By day I’m a (blogger) but by night I’m a superhero. I love (going out) and (staying in), (bourbon), and (spending time with (friends) and (family)). You can find me (running in (Prospect) Park) near my home (near Williamsburg). Oh, and I should mention I’m a (Jets) fan. </p>

<p>
I’m looking for someone who (doesn’t take themselves seriously), isn’t interested in (drama), and (loves to laugh). It’d also be great if you were (down to earth), share my case of (wanderlust), and (loves to go dancing). So if you’re interested in (dating), say hi!
</p><p>
P.S. (No hookups, please.)</p> 
 </div>
<div class="content" id="content2">
<p> I’m a (30 to 34)-year-old (man) looking for a (not important) who loves (collecting stamps on his passport) and is (fluent in sarcasm). I can never have enough (tacos) and (live music). By day I’m a (programmer) but by night I’m a rock star. You can find me (running in (Central) Park) near my home (below 14th street) or (collecting stamps on my passport). I’m the kind of (man) who (works hard) and (plays hard) and has read almost ((200) pages of Infinite Jest). Oh, and I’m (6’1” so you can wear heels). </p>
<p>
I’m looking for someone who (lives life to the fullest), is a (Netflix junkie), and (loves to try new restaurants). It’d also be great if you live in (“NYC”), love (dive bars), and (crossfit). So if you’re interested in (being massage buddies), say hi!
</p><p>
P.S. (They’re my nephews).
</p> </div>
<div class="content" id="content3"> 
<p> 
I’m a (30 to 34)-year-old (man) looking for a (being of pure energy and enlightenment) who loves (running in the bike lane) and is (fluent in hyperbole). I can never have enough (poutine) and (drum circles). By day I’m (relationship material) but by night I’m a (weekend warrior). You can find me (running in the bike lane) near my home in (Murray Hill). I’m the kind of (man) who (is taller than you) and (loves to cry), and has read almost ((100) pages of Infinite Jest). 
Oh, and I’m (comfortable in my sexuality) so (we) can wear heels.)</p>
<p>
I’m looking for someone who (lives), is a (junkie), and (loves to try new hot dog carts). It’d also be great if you live in (my darkest nightmares), love (high dives), and (taxidermy collections). 
So if you’re interested in (talking about our lord and saviour), say hi! </p>

<p>
P.S. (They’re our nephews).
</p> </div>

    </section>

<!-- call random function here -->
    <button class="profile-button next">
      <a href="/profile">Regenerate</a>
    </button>
    <button class="profile-button next">
      <a href="/form/1">Update Profile</a>
    </button>
 </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> 
<script src="/js/main.js"></script>
</body>
</html>