<!DOCTYPE html>
<html>
<% include ../partials/head %>
<body>
<% include ../partials/header %>
 <div class="form-container">
 <!-- first profile -->
 <!-- add pictures -->
    <div class="profile">
    <h4 class="profile-heading heading"> These types of photos are guaranteed to get you more right swipes</h4>

    <div class="photoshopped-photos">
    <img class="photoshopped" src="/assets/photos/gym.png">
    <img class="photoshopped" src="/assets/photos/machu.png">
    <img class="photoshopped" src="/assets/photos/paddleboard.png">
    <img class="photoshopped" src="/assets/photos/tiger.png">
    </div>
</p>

<h4 class="profile-heading heading"> Here is the profile we've crafted together for you </h4>
<div class="content" id="content1"> 
<p>I’m a <strong class="strong">25 to 29</strong>-year-old <strong class="strong">woman</strong> looking for a <strong class="strong">man</strong> who will be my <strong class="strong">best friend</strong> and <strong class="strong">partner in crime</strong>. By day I’m a <strong class="strong">blogger </strong> but by night I’m a superhero. I love <strong class="strong">going out</strong> and <strong class="strong">staying in </strong>, <strong class="strong">bourbon</strong>, and spending time with <strong class="strong">friends</strong> and <strong class="strong">family</strong>. You can find me running in <strong class="strong">Prospect Park</strong> near my home <strong class="strong">near Williamsburg</strong>. Oh, and I should mention I’m a <strong class="strong">Jets </strong> fan. </p>

<p>
I’m looking for someone who <strong class="strong">doesn’t take themselves seriously</strong>, isn’t interested in <strong class="strong">drama</strong>, and <strong class="strong">loves to laugh</strong>. It’d also be great if you were <strong class="strong">down to earth</strong>, share my case of <strong class="strong">wanderlust</strong>, and <strong class="strong">loves to go dancing</strong>. So if you’re interested in <strong class="strong">dating </strong>, say hi!
</p><p>
P.S. <strong class="strong">No hookups, please.</strong></p> 
 </div>
<div class="content" id="content2">
<p> I’m a <strong class="strong">30 to 34</strong>-year-old <strong class="strong">man</strong> looking for a <strong class="strong">not important</strong> who loves <strong class="strong">collecting stamps on his passport</strong> and is <strong class="strong">fluent in sarcasm</strong>. I can never have enough <strong class="strong">tacos</strong> and <strong class="strong">live music</strong>. By day I’m a <strong class="strong">programmer</strong> but by night I’m a rock star. You can find me <strong class="strong">running in <strong class="strong">Central</strong> Park</strong> near my home <strong class="strong">below 14th street</strong> or <strong class="strong">collecting stamps on my passport</strong>. I’m the kind of <strong class="strong">man</strong> who <strong class="strong">works hard</strong> and <strong class="strong">plays hard</strong> and has read almost <strong class="strong"><strong class="strong">200</strong> pages of Infinite Jest</strong>. Oh, and I’m <strong class="strong">6’1” so you can wear heels</strong>. </p>
<p>
I’m looking for someone who <strong class="strong">lives life to the fullest</strong>, is a <strong class="strong">Netflix junkie</strong>, and <strong class="strong">loves to try new restaurants</strong>. It’d also be great if you live in <strong class="strong">“NYC”</strong>, love <strong class="strong">dive bars</strong>, and <strong class="strong">crossfit</strong>. So if you’re interested in <strong class="strong">being massage buddies</strong>, say hi!
</p><p>
P.S. <strong class="strong">They’re my nephews</strong>.
</p> </div>
<div class="content" id="content3"> 
<p> 
I’m a <strong class="strong">30 to 34</strong>-year-old <strong class="strong">man</strong> looking for a <strong class="strong">being of pure energy and enlightenment</strong> who loves <strong class="strong">running in the bike lane</strong> and is <strong class="strong">fluent in hyperbole</strong>. I can never have enough <strong class="strong">poutine</strong> and <strong class="strong">drum circles</strong>. By day I’m <strong class="strong">relationship material</strong> but by night I’m a <strong class="strong">weekend warrior</strong>. You can find me <strong class="strong">running in the bike lane</strong> near my home in <strong class="strong">Murray Hill</strong>. I’m the kind of <strong class="strong">man</strong> who <strong class="strong">is taller than you</strong> and <strong class="strong">loves to cry</strong>, and has read almost <strong class="strong"><strong class="strong">100</strong> pages of Infinite Jest</strong>. 
Oh, and I’m <strong class="strong">comfortable in my sexuality</strong> so <strong class="strong">we</strong> can wear heels.</strong></p>
<p>
I’m looking for someone who <strong class="strong">lives</strong>, is a <strong class="strong">junkie</strong>, and <strong class="strong">loves to try new hot dog carts</strong>. It’d also be great if you live in <strong class="strong">my darkest nightmares</strong>, love <strong class="strong">high dives</strong>, and <strong class="strong">taxidermy collections</strong>. 
So if you’re interested in <strong class="strong">talking about our lord and saviour</strong>, say hi! </p>

<p>
P.S. <strong class="strong">They’re our nephews</strong>.
</p> </div>

    </section>

<!-- call random function here -->
    <button class="profile-button next">
      <a href="/profile">Regenerate</a>
    </button>
    <button class="profile-button next">
      <a href="/form/1">Update Profile</a>
    </button>
 </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> 
<script src="/js/main.js"></script>
</body>
</html>