<!DOCTYPE html>
<html>
<% include ./partials/head %>
<body>
  <% include ./partials/header %>
  <main>
    <section>
      <h2>What do we do?</h2>
      <p>Here's some bullshit about what we do to make you into an interesting person that someone might actually want to date someday. This section needs to be changed into something waaaaaaay better, but we need some filler text for the time being</p>
    </section>
    <section>
      <h2>Testimonials</h2>
      <p>Let's have some sliding quotes here</p>
    </section>
    <button id="get-started">Get Started!</button>
  </main>
  <% include ./partials/footer %>
</body>
</html>