@font-face {
  font-family: 'atami-oblique';
  src: url(../fonts/Atami-Oblique.otf);
}

@font-face {
  font-family: 'atami-light';
  src: url(../fonts/Atami-Light.otf);
}

body {
  font-family: 'atami-light'
}

header {
  box-shadow: 0 3px 10px #222;
  display: flex;
  background-color: #E24E42;
  justify-content: center;
  padding: 20px 0;
  perspective: 1000px;
}

main {
  align-items: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

section {
  width: 70%;
}

a {
  color: #FAFAFA;
}

#logo {
  background-color: #FAFAFA;
  box-shadow: 5px 5px #222;
  font-family: 'atami-oblique';
  font-size: 80px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 10px;
  text-shadow: 3px 3px 0 #E9B000;
  transform: rotateY(20deg);
}

#get-started {
  background-color: #008F95;
  border: none;
  box-shadow: 3px 3px #222;
  color: #FAFAFA;
  font-size: 40px;
  text-shadow: 2px 2px 0 #E9B000;
  width: 40%;
}

#get-started:hover {
  cursor: pointer;
}

#interests {
  display: flex;
  flex-flow: row wrap;

}

.interest {
  width: 33%;
}

.form-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.form-question {
  background-color: #D9D9D9;
  box-shadow: 3px 3px #222;
  padding: 20px;
  margin: 10px 0;
}

.form-question h4 {
  background-color: #FAFAFA;
  box-shadow: 2px 2px #222;
  display: inline-block;
  font-size: 25px;
  margin: 0 0 10px 0;
  padding: 10px;
  text-shadow: 1px 1px 0 #E9B000;
}

.form-question input {
  width: 400px;
}

.next {
  background-color: #008F95;
  border: none;
  box-shadow: 3px 3px #222;
  color: #FAFAFA;
  font-size: 40px;
  margin: 10px auto;
  text-shadow: 2px 2px 0 #E9B000;
  width: 40%;
}

.next:hover {
  cursor: pointer;
}

input[type="checkbox"] {
  border: none;
  margin: 5px;
}

select {
  border: none;
  border-radius: 0;
  font-family: 'atami-light';
  font-size: 20px;
  width: 400px;
}

select option {
  font-family: 'atami-light';
}

footer {
  bottom: 0;
  position: absolute;
}

.photoshopped-photos{
  width: 80%;
  float: left;
  clear: both;
  margin-left: 10%;
  margin-right: 10%;
}

.photoshopped{
  width: 45%;
}

.content{
  margin-left: 10%;
  margin-right: 10%;
}

.profile-button{
  margin-left: 5%;
  width: 40%;
  margin-right: 0%;
}


.profile-heading{
  margin-left: 10%;
  font-size: 1.3em;
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
    .photoshopped{
      width: 80%;
    }

}