<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="">
</head>
<body>

<form>
<input type="text" name="Name" value="Name" placeholder="">

<h4> I indentify as </h4> 
<select>
  <option value="woman"> Woman </option>
  <option value="man"> Man</option>
  <option value="non-binary"> Non-binary </option>
  <option value="energy"> Being of pure energy and enlightenment </option>
  <option value="sapiosexual"> A sapiosexual fuck
 </option>
  <option value="pan"> Pansexual (note: Spanish pan) </option>
  <option value="not important"> Not Important </option>
</select>

<h4> Looking for a </h4>
<select>
  <option value = "woman">Woman </option>
  <option value ="man"> Man </option>
  <option value = "BOTH"> BOTH ;) </option>
  <option value = "Not Important"> Not Important </option>
</select>

<h4> Type of Relationship </h4>
<select>
  <option value ="dating"> Dating </option>
  <option value ="relationship">Relatinoship </option>
  <option value ="Massage Buddies"> Massage Buddies</option>
  <option value ="hole">Basically Just Looking for a Hole</option>
</select>

<h4> Job </h4>
<select>
  <option value="accountant"> Accountant</option>
  <option value="Programmer">Programmer </option>
  <option value="Blogger"> Blogger </option>
  <option value="titanic passenger">Titanic Passenger </option>
</select>

<h4> Age </h4>
<select>
  <option value="18-24">18-24 </option>
  <option value="24-32">25-29 </option>
  <option value="30-34">30-34 </option>
  <option value="35-etc">35-...etcetera </option>
  <option value="any"> Age is just a number ;) </option>
</select>

<h4> where do you live? </h4>
<select>
  <option value="upper whatever side"> upper whatever side
 </option>
  <option value="murray hill"> Murray Hill</option>
  <option value="Below 14th street"> Below 14th Street</option>
  <option value="below delancey street"> Below Delancey Street</option>
  <option value="williamsburg">Williamsburg </option>
  <option value="near williamsburg">Near Williamsburg </option>
  <option value="parkslope">Park Slope</option>
  <option value="near parkslope">Near Park Slope</option>
  <option value="Brooklyn">Brooklyn </option>
  <option value="Astoria"> Astoria</option>
  <option value="Bronx/Upstate"> Bronx/Upstate </option>
  <option value="NYC"> NYC </option>
  <option value="NYC Metro Area"> NYC Metro Area </option>
</select>

<h4> Interests </h4>

<input type="checkbox" name="interest" value="Staying In">Staying In
<input type="checkbox" name="interest" value="Going Out"> Going Out
<input type="checkbox" name="interest" value="Working Hard">Working Hard
<input type="checkbox" name="interest" value="Playing Hard">Playing Hard
<input type="checkbox" name="interest" value="Spending time With Friends">Spending time With Friends
<input type="checkbox" name="interest" value="Spending time with Family">Spending time with Family
<input type="checkbox" name="interest" value="Wanderlust">Wanderlust
<input type="checkbox" name="interest" value="Bourbon">Bourbon
<input type="checkbox" name="interest" value="Fluent in Sarcasm">Fluent in Sarcasm
<input type="checkbox" name="interest" value="Running in Central Park">Running in Central Park
<input type="checkbox" name="interest" value="Running in Prospect Park">Running in Prospect Park
<input type="checkbox" name="interest" value="Collecting Stamps on Passports">Collecting Stamps on Passports
<input type="checkbox" name="interest" value="Guacamole">Guacamole
<input type="checkbox" name="interest" value="Tacos">Tacos
<input type="checkbox" name="interest" value="Mom's Spaghetti">Mom's Spaghetti
<input type="checkbox" name="interest" value="Drama">Love Drama
<input type="checkbox" name="interest" value="No Drama">No Drama
<input type="checkbox" name="interest" value="Partner in Crime">Partner in Crime
<input type="checkbox" name="interest" value="Height">Height
<input type="checkbox" name="interest" value="new restaurants"> Love to Try New Restaurants
<input type="checkbox" name="interest" value="dive">Dive Bars
<input type="checkbox" name="interest" value="Live Music">Live Music
<input type="checkbox" name="interest" value="takes self seriously"> Takes self seriously 
<input type="checkbox" name="interest" value="not serious">Don't take myself too seriously
<input type="checkbox" name="interest" value="that’s my niece/nephew
">That's my niece/nephew
<input type="checkbox" name="interest" value="love to laugh">Love to Laugh
<input type="checkbox" name="interest" value="down to earth">Down to Earth
<input type="checkbox" name="interest" value="great sense of humor">Great Sense of Humor
<input type="checkbox" name="interest" value="superhero by night">By Day, Superhero by Night
<input type="checkbox" name="interest" value="jets fan">Jets Fan
<input type="checkbox" name="interest" value="life to fullest">Living Life to the Fullest
<input type="checkbox" name="interest" value="open book">Open Book
</form>

<div>
<input type="file" name="pic" accept="image/*">
</div>


<button type="submit"> Submit</button>

<!-- <input type="checkbox" name="interest" value="Pa">
pages of infinite jest read with 100/200/250 etc -->
</body>
</html>