<!DOCTYPE html>
<html>
<% include ../partials/head %>
<body>
  <% include ../partials/header %>
  <div class="form-container">
    <section>
    <form>
    <div class="photo-uploader">
      <h4>Upload a Photo Of Yourself </h4>
      <input class="photo-upload" type="file" name="pic" accept="image/*">
    </div>
      <button class="next">
        <a href="/profile">Submit!</a>
      </button>
      </form>
    </section>
  </div>
</body>
</html>