<!DOCTYPE html>
<html>
<% include ../partials/head %>
<body>
<% include ../partials/header %>
<div class="form-container">
  <section>
    <form>
      <div class="form-question">
        <h4>I indentify as</h4><br>
        <select>
          <option value="woman">Woman</option>
          <option value="man">Man</option>
          <option value="non-binary">Non-binary</option>
          <option value="energy">Being of pure energy and enlightenment</option>
          <option value="not important">Not Important</option>
        </select>
      </div>
      <div class="form-question">
          <h4> Who would you let punch you directly in the face?</h4>
          <input type="text" name="moms-name" value="" placeholder="">
      </div>
      <div class="form-question">
        <h4>Looking for a</h4><br>
        <select>
          <option value="woman">Woman</option>
          <option value="man">Man</option>
          <option value="BOTH">Whatever</option>
          <option value="Not Important">Not Important</option>
        </select>
      </div>  
      <div class="form-question">
      <h4> What is your mothers name? </h4>
      <input type="text" name="moms-name" value="" placeholder="">
      </div>
      <div class="form-question">
        <h4>Type of Relationship</h4><br>
        <select>
          <option value="dating">Dating</option>
          <option value="relationship">Relatinoship</option>
          <option value="Massage Buddies">Massage Buddies</option>
          <option value="hole">No Strings Attached</option>
        </select>
      </div>
      <div class="form-question">
      <h4> Explain you mustache and/or beard </h4>
      <textarea rows="5" cols="20"></textarea>
      </div>
    </form>
      <a href="/form/2">
    <button id="next" class="next">
    Next!
    </button>
    </a>
  </section>
</div>
</html>