<!DOCTYPE html>
<html>
<% include ../partials/head %>
<body>
  <% include ../partials/header %>
    <div class="form-container">
      <section>
        <!-- <div class="form-question"> -->
          <h4>Interests</h4>
          <div id="interests">
            <div class="interest"><input type="checkbox" name="interest" value="Staying In">Staying In</div>
            <div class="interest"><input type="checkbox" name="interest" value="Going Out">Going Out</div>
            <div class="interest"><input type="checkbox" name="interest" value="Working Hard">Working Hard</div>
            <div class="interest"><input type="checkbox" name="interest" value="Playing Hard">Playing Hard</div>
            <div class="interest"><input type="checkbox" name="interest" value="Spending time With Friends">Spending time With Friends</div>
            <div class="interest"><input type="checkbox" name="interest" value="Spending time with Family">Spending time with Family</div>
            <div class="interest"><input type="checkbox" name="interest" value="Wanderlust">Wanderlust</div>
            <div class="interest"><input type="checkbox" name="interest" value="Bourbon">Bourbon</div>
            <div class="interest"><input type="checkbox" name="interest" value="Fluent in Sarcasm">Fluent in Sarcasm</div>
            <div class="interest"><input type="checkbox" name="interest" value="Running in Central Park">Running in Central Park</div>
            <div class="interest"><input type="checkbox" name="interest" value="Running in Prospect Park">Running in Prospect Park</div>
            <div class="interest"><input type="checkbox" name="interest" value="Collecting Stamps on Passports">Collecting Stamps on Passports</div>
            <div class="interest"><input type="checkbox" name="interest" value="Guacamole">Guacamole</div>
            <div class="interest"><input type="checkbox" name="interest" value="Tacos">Tacos</div>
            <div class="interest"><input type="checkbox" name="interest" value="Mom's Spaghetti">Mom's Spaghetti</div>
            <div class="interest"><input type="checkbox" name="interest" value="Drama">Love Drama</div>
            <div class="interest"><input type="checkbox" name="interest" value="No Drama">No Drama</div>
            <div class="interest"><input type="checkbox" name="interest" value="Partner in Crime">Partner in Crime</div>
            <div class="interest"><input type="checkbox" name="interest" value="Height">Height</div>
            <div class="interest"><input type="checkbox" name="interest" value="new restaurants"> Love to Try New Restaurants</div>
            <div class="interest"><input type="checkbox" name="interest" value="dive">Dive Bars</div>
            <div class="interest"><input type="checkbox" name="interest" value="Live Music">Live Music</div>
            <div class="interest"><input type="checkbox" name="interest" value="takes self seriously"> Takes self seriously</div>
            <div class="interest"><input type="checkbox" name="interest" value="not serious">Don't take myself too seriously</div>
            <div class="interest"><input type="checkbox" name="interest" value="that’s my niece/nephew
            ">That's my niece/nephew</div>
            <div class="interest"><input type="checkbox" name="interest" value="love to laugh">Love to Laugh</div>
            <div class="interest"><input type="checkbox" name="interest" value="down to earth">Down to Earth</div>
            <div class="interest"><input type="checkbox" name="interest" value="great sense of humor">Great Sense of Humor</div>
            <div class="interest"><input type="checkbox" name="interest" value="superhero by night">(job) By Day, Superhero by Night</div>
            <div class="interest"><input type="checkbox" name="interest" value="jets fan">Jets Fan</div>
            <div class="interest"><input type="checkbox" name="interest" value="life to fullest">Living Life to the Fullest</div>
            <div class="interest"><input type="checkbox" name="interest" value="open book">Open Book</div>  
          </div>
        <!-- </div> -->
         <button class="next">
        <a href="/form/4">Next!</a>
      </button>
      </section>
    </div>
</body>
</html>