<!DOCTYPE html>
<html>
<% include ../partials/head %>
<body>
  <% include ../partials/header %>
  <div class="form-container">
    <section>
      <form>
        <div class="form-question">
          <h4>Job</h4><br>
          <select>
            <option value="accountant">Accountant</option>
            <option value="Programmer">Programmer</option>
            <option value="Blogger">Blogger</option>
            <option value="titanic passenger">Titanic Passenger </option>
          </select>
        </div>
        <div class="form-question">
          <h4>Age</h4><br>
          <select>
            <option value="18-24">18-24</option>
            <option value="24-32">25-29</option>
            <option value="30-34">30-34</option>
            <option value="35-etc">35-...etcetera</option>
            <option value="any"> Age is just a number ;)</option>
          </select>
        </div>
        <div class="form-question">
          <h4> How many basketballs would fit in this room? </h4>
          <input type="text" name="moms-name" value="" placeholder="">
        </div>
        <div class="form-question">
          <h4>where do you live?</h4><br>
          <select>
            <option value="upper whatever side">upper whatever side</option>
            <option value="murray hill">Murray Hill</option>
            <option value="Below 14th street">Below 14th Street</option>
            <option value="below delancey street">Below Delancey Street</option>
            <option value="williamsburg">Williamsburg</option>
            <option value="near williamsburg">Near Williamsburg</option>
            <option value="parkslope">Park Slope</option>
            <option value="near parkslope">Near Park Slope</option>
            <option value="Brooklyn">Brooklyn</option>
            <option value="Astoria">Astoria</option>
            <option value="Bronx/Upstate">Bronx/Upstate</option>
            <option value="NYC">NYC</option>
            <option value="NYC Metro Area">NYC Metro Area</option>
          </select>
        </div>
        <div class="form-question">
        <h4> explain your interpretation of Schrodinger's cat and its application to quantum physics</h4>
          <textarea rows="5" cols="20"></textarea>
        </div>
      </form>
      <a href="/form/3">
      <button id="next" class="next">
        Next!
      </button>
      </a>
    </section>
  </div>
</body>
</html>