<!DOCTYPE html>
<html>
<% include ../partials/head %>
<body>
<% include ../partials/header %>
<div class="form-container">
  <section>
    <form>
      <div class="form-question">
        <h4>I indentify as</h4><br>
        <select>
          <option value="woman">Woman</option>
          <option value="man">Man</option>
          <option value="non-binary">Non-binary</option>
          <option value="energy">Being of pure energy and enlightenment</option>
          <option value="sapiosexual"> A sapiosexual fuck</option>
          <option value="pan">Pansexual (note: Spanish pan)</option>
          <option value="not important">Not Important</option>
        </select>
      </div>
      <div class="form-question">
        <h4>Looking for a</h4><br>
        <select>
          <option value="woman">Woman</option>
          <option value="man">Man</option>
          <option value="BOTH">BOTH/All/WHATEVER I'M INTO IT ;)</option>
          <option value="Not Important">Not Important</option>
        </select>
      </div>  
      <div class="form-question">
        <h4>Type of Relationship</h4><br>
        <select>
          <option value="dating">Dating</option>
          <option value="relationship">Relatinoship</option>
          <option value="Massage Buddies">Massage Buddies</option>
          <option value="hole">Basically Just Looking for a Hole</option>
        </select>
      </div>
    </form>
    <button class="next">
      <a href="/form/2">Next!</a>
    </button>
  </section>
</div>
</html>